@charset "UTF-8";

body{
    padding: 150;
    margin: 40;
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    width: 500px;
    padding: 10px;
    margin: auto;
    background-color: aliceblue;
    text-align: center;
}

nav{
    padding: 4px;
    background-color: rgb(58, 4, 109);
}

nav > a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 100px;
    margin-right: 20px;
}

nav > a:hover{
    text-decoration: dashed;
    font-weight: bold;
}

main{
    width: 500px;
    margin: auto;
    padding: 10px;
    text-align: left;
    background-color: rgb(79, 6, 148);
    border-radius: 8px;
}

article{
    color: aliceblue;
}

article > aside{
    color: rgb(47, 3, 117);
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

li{
    color: aliceblue;
}

footer{
    width: 500px;
    margin: auto;
    background-color: aliceblue;
    text-align: center;
}

p{
    color: aliceblue;
}

#footer{
    color: rgb(8, 8, 8);
    box-shadow: 5px 5px 20px purple;
}