        @charset "UTF-8";
        
        body {
            
            background-color: rgb(32, 39, 138);
            padding: 60px;

        }
        h1 {

             color: rgb(255, 255, 255);
             font-family: montserrat;
             font-size: 25px;
             background-color:red; padding:4px; border-radius: 12px;

        }
        h2{
            color: gold;
            font-family: poppins;
            font-size: 18px;
            font-weight: 400;


        }
        p{
            color: aliceblue;
            font-family: poppins;
            font-size: 15px;
            font-weight: 300;
            text-align: justify;

        }
        a{

            color: rgb(109, 205, 250);
        }
