body{
    height: 100vh;
 /*   background-image: url('imagens/wallpaper002.jpg');
    background-color: rgb(255, 255, 255);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;*/

    /*Shorthand de Background*/
    background: white url('imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size:cover;

}
main{
    background-color: white;
    width: 400px;
    padding: 25px;
    margin: auto;
    border-radius: 25px;
    box-shadow: 1px 1px 1px 1px black;
}